<div class="col-md-4 col-md-offset-4">
<h2>Login</h2>
<form ng-submit="login()">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" ng-model="model.username">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" ng-model="model.password">
    </div>
    <button class="btn btn-custom" type="submit">Login</button>
</form>
<div ng-repeat="f in fortunes">{{f}}</div>
</div>