<div class="col-sm-4 col-sm-offset-4">
    <h1>Magic Eight</h1>
    <div class="eight-ball">
        <div class="fortune">
            <p ng-model="fortune">{{fortune.fortune}}</p>
        </div>
    </div>
    <p ng-model="askedQuestion" class="question">{{model.askedQuestion}}</p>
    <form ng-submit="getFortune()">
        <div class="form-group">
            <label for="question">Ask a Question</label>
            <input type="text" id="question" ng-model="model.question" class="form-control">
        </div>
        <button class="btn btn-custom" type="submit">Foretell</button>
    </form>
</div>
