body {
    background-color: #465666;
    color: #F5625E;
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 15px;
    font-size: 1.2em;
}
nav ul li a {
    color: #68D7C5;
}
nav ul li a:hover {
    color: #49C6F2;
    text-decoration: none;
}
.btn-custom {
    background-color: #68D7C5;
    color: #232323;
}